<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>downloadURL</key>
		<string>http://get.adobe.com/air/</string>
		<key>installerName</key>
		<string>AdobeAir</string>
		<key>license</key>
		<string>Adobe Distribution license</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://www.adobe.com/uk/products/flashplayer/distribution3.html</string>
		<key>installerName</key>
		<string>AdobeFlashPlayer</string>
		<key>license</key>
		<string>Adobe Distribution license</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>ftp://ftp.adobe.com/pub/adobe/reader/mac/</string>
		<key>installerName</key>
		<string>AdobeReader</string>
		<key>license</key>
		<string>Adobe Distribution license</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.adobe.com/support/downloads/product.jsp?product=10&amp;platform=Macintosh</string>
		<key>installerName</key>
		<string>AdobeReader_Update</string>
		<key>license</key>
		<string>Adobe Distribution license</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://get.adobe.com/shockwave/</string>
		<key>installerName</key>
		<string>AdobeShockwave</string>
		<key>license</key>
		<string>Adobe Distribution license</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://aquamacs.org/</string>
		<key>installerName</key>
		<string>AquaMacs</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/ARDClient</string>
		<key>installerName</key>
		<string>ARDClient</string>
		<key>license</key>
		<string>Free to install. Licensed per admin client.</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.balsamiq.com/products/mockups</string>
		<key>installerName</key>
		<string>BalsamiqMockups</string>
		<key>license</key>
		<string>Commercial</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://sourceforge.net/projects/ccmenu/files/CCMenu/</string>
		<key>installerName</key>
		<string>ccmenu</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://trac.macports.org/browser/trunk/dports/sysutils/coreutils/Portfile</string>
		<key>installerName</key>
		<string>Coreutils</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://cyberduck.ch/ </string>
		<key>installerName</key>
		<string>Cyberduck</string>
		<key>license</key>
		<string>Open Source GNU GPL</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.dbvis.com/</string>
		<key>installerName</key>
		<string>dbVis</string>
		<key>license</key>
		<string>Commercial</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://dia-installer.de/download/macosx.html</string>
		<key>installerName</key>
		<string>dia</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.eclipse.org/downloads/</string>
		<key>installerName</key>
		<string>eclipse</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.endnote.com/ </string>
		<key>installerName</key>
		<string>Endnote</string>
		<key>license</key>
		<string>Commercial. Sanger have a site license.</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>afp://printsrv2.internal.sanger.ac.uk</string>
		<key>installerName</key>
		<string>ExtremeZIPExtensions</string>
		<key>license</key>
		<string>Commercial. Sanger has site license</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.microsoft.com/windows/windowsmedia/player/wmcomponents.mspx </string>
		<key>installerName</key>
		<string>Flip4MacWMV</string>
		<key>license</key>
		<string>Free to install under a Microsoft license.</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.fraiseapp.com</string>
		<key>installerName</key>
		<string>Fraise</string>
		<key>license</key>
		<string>OS</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://code.google.com/p/git-osx-installer/downloads/list?can=3</string>
		<key>installerName</key>
		<string>git</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://gitx.frim.nl/</string>
		<key>installerName</key>
		<string>GitX</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://growl.info/</string>
		<key>installerName</key>
		<string>Growl</string>
		<key>license</key>
		<string>BSD License</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.oracle.com/technetwork/database/features/instant-client/index-097480.html</string>
		<key>installerName</key>
		<string>OracleInstantClient</string>
		<key>license</key>
		<string>Free</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.ej-technologies.com/download/jprofiler/files.html</string>
		<key>installerName</key>
		<string>JProfiler</string>
		<key>license</key>
		<string>Commercial</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>smb://landesk3.internal.sanger.ac.uk/ldlogon/mac</string>
		<key>installerName</key>
		<string>LANDeskClient</string>
		<key>license</key>
		<string>Commercial. Sanger has 1250 licenses</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/LANDeskCustomData</string>
		<key>installerName</key>
		<string>LANDeskCustomData</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.dnastar.com/products/lasergene.php</string>
		<key>installerName</key>
		<string>Lasergene</string>
		<key>license</key>
		<string>Commercial. Licenses managed by server.</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://code.google.com/p/macfuse/</string>
		<key>installerName</key>
		<string>MacFUSE</string>
		<key>license</key>
		<string>New BSD License</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.macfusionapp.org</string>
		<key>installerName</key>
		<string>MacFusion</string>
		<key>license</key>
		<string>New BSD License</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/McAfeeAgent</string>
		<key>installerName</key>
		<string>McAfeeAgent</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.microsoft.com/mac/downloads.mspx</string>
		<key>installerName</key>
		<string>MicrosoftOffice2008</string>
		<key>license</key>
		<string>Commercial,</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.microsoft.com/mac/downloads.mspx</string>
		<key>installerName</key>
		<string>MicrosoftOffice2008_update</string>
		<key>license</key>
		<string>Commercial</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.microsoft.com/mac/products/remote-desktop/default.mspx </string>
		<key>installerName</key>
		<string>MicrosoftRemoteDesktop</string>
		<key>license</key>
		<string>Free to install under a Microsoft license.</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.microsoft.com/silverlight/resources/install.aspx#instruct </string>
		<key>installerName</key>
		<string>Silverlight</string>
		<key>license</key>
		<string>Free to install under a Microsoft license.</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://dev.mysql.com/downloads/workbench</string>
		<key>installerName</key>
		<string>MySQLWorkbench</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://zuul.sanger.ac.uk/dana-cached/nc/NetworkConnect.dmg</string>
		<key>installerName</key>
		<string>NetworkConnect</string>
		<key>license</key>
		<string>Licensed</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.r-project.org/ </string>
		<key>installerName</key>
		<string>R-app</string>
		<key>license</key>
		<string>GNU GPL</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://trac.macports.org/browser/trunk/dports/devel/readline/Portfile</string>
		<key>installerName</key>
		<string>readline</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://uk.real.com/realplayer/other-versions/</string>
		<key>installerName</key>
		<string>RealPlayer</string>
		<key>license</key>
		<string>Free to install under a RealPlayer license</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.retrospect.com/supportupdates/updates/ </string>
		<key>installerName</key>
		<string>RetrospectClient</string>
		<key>license</key>
		<string>Free to install. Licensed per server</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://support.apple.com/downloads/#Ricoh</string>
		<key>installerName</key>
		<string>RicohPrintDrivers</string>
		<key>license</key>
		<string>Free to install as part of OS X </string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://support.ricoh.com/bb/html/dr_ut_e/re/model/mp35/mp35en.htm#Mac%20OS%20X%2010.5</string>
		<key>installerName</key>
		<string>RicohPANTONEKit</string>
		<key>license</key>
		<string>Free to install under a Ricoh license.</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/RubyGemsUpdate</string>
		<key>installerName</key>
		<string>RubyGemsUpdate</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://www.mozilla.org/en-US/firefox/organizations/all.html</string>
		<key>installerName</key>
		<string>SangerFirefox</string>
		<key>license</key>
		<string>Open Source Mozilla Public License</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.sequelpro.com</string>
		<key>installerName</key>
		<string>SequelPro</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.skype.com/intl/en/get-skype/on-your-computer/macosx/</string>
		<key>installerName</key>
		<string>Skype</string>
		<key>license</key>
		<string>Skype proprietary </string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://my.smithmicro.com/mac/stuffit/index.html </string>
		<key>installerName</key>
		<string>StuffitExpander</string>
		<key>license</key>
		<string>Free to install under a Stuffit License</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://svnbinaries.open.collab.net/</string>
		<key>installerName</key>
		<string>Subversion</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://macromates.com/</string>
		<key>installerName</key>
		<string>TextMate</string>
		<key>license</key>
		<string>Commercial</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.videolan.org/vlc/ </string>
		<key>installerName</key>
		<string>VLC</string>
		<key>license</key>
		<string>Open Source GNU GPL</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/WTSIUserConfig</string>
		<key>installerName</key>
		<string>WTSIUserConfigApp</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://developer.apple.com/technology/tools.html </string>
		<key>installerName</key>
		<string>xcode</string>
		<key>license</key>
		<string>Ships with OS X </string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://trac.macports.org/browser/trunk/dports/x11/xdiskusage/Portfile</string>
		<key>installerName</key>
		<string>xdiskusage</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://xquartz.macosforge.org/trac/wiki</string>
		<key>installerName</key>
		<string>XQuartz</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/ZidgetInstaller</string>
		<key>installerName</key>
		<string>ZidgetInstaller</string>
		<key>license</key>
		<string>Commercial. Sanger has site license</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://homepage.mac.com/zenitani/emacs-e.html</string>
		<key>installerName</key>
		<string>CarbonEmacs</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://gimp.lisanet.de/Website/Download.html</string>
		<key>installerName</key>
		<string>Gimp</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/MunkiSangerize</string>
		<key>installerName</key>
		<string>MunkiSangerize</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/SangerHelpFiles</string>
		<key>installerName</key>
		<string>SangerHelpFiles</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/authorizationSnowLeopard</string>
		<key>installerName</key>
		<string>authorizationSnowLeopard</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://code.google.com/p/munki/downloads/list</string>
		<key>installerName</key>
		<string>munkitools</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/timeConfig</string>
		<key>installerName</key>
		<string>timeConfig</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.microsoft.com/mac/downloads.mspx</string>
		<key>installerName</key>
		<string>MicrosoftOffice2011Base</string>
		<key>license</key>
		<string>Commercial. Sanger has 250 licenses</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.microsoft.com/mac/downloads.mspx</string>
		<key>installerName</key>
		<string>MicrosoftOffice2011Update</string>
		<key>license</key>
		<string>Commercial. Sanger has 250 licenses</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.mysql.com/downloads/mysql/</string>
		<key>installerName</key>
		<string>MySQL</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.mysql.com/downloads/mysql/</string>
		<key>installerName</key>
		<string>MySQLPreferencePane</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.mysql.com/downloads/mysql/</string>
		<key>installerName</key>
		<string>MySQLSangerize</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.mysql.com/downloads/mysql/</string>
		<key>installerName</key>
		<string>MySQLStartupItem</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://lightheadsw.com/caffeine/</string>
		<key>installerName</key>
		<string>Caffeine</string>
		<key>license</key>
		<string>Freeware</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://netbeans.org/downloads/index.html</string>
		<key>installerName</key>
		<string>NetBeans</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://aquamacs.org/download.shtml</string>
		<key>installerName</key>
		<string>AquaMacsCommandLineTool</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.barebones.com/products/textwrangler/</string>
		<key>installerName</key>
		<string>TextWrangler</string>
		<key>license</key>
		<string>Freeware</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://get.adobe.com/uk/reader/</string>
		<key>installerName</key>
		<string>AdobeReader_Update2</string>
		<key>license</key>
		<string>Adobe Distribution license</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/Firstrun4</string>
		<key>installerName</key>
		<string>FirstRun</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/AdobeFlashNoUpdate</string>
		<key>installerName</key>
		<string>AdobeFlashNoUpdate</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/MarkDeveloperBuild</string>
		<key>installerName</key>
		<string>MarkDeveloperBuild</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/MacPortsSangerize</string>
		<key>installerName</key>
		<string>MacPortsSangerize</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.microsoft.com/mac/downloads.mspx</string>
		<key>installerName</key>
		<string>MicrosoftOffice2011_update2</string>
		<key>license</key>
		<string>Commercial. Sanger has 250 licenses</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://support.apple.com/kb/DL1421</string>
		<key>installerName</key>
		<string>JavaForLion</string>
		<key>license</key>
		<string>Apple</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.microsoft.com/mac/downloads.mspx</string>
		<key>installerName</key>
		<string>MicrosoftEntourage2008</string>
		<key>license</key>
		<string>Commercial</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.macports.org/install.php</string>
		<key>installerName</key>
		<string>MacPortsLion</string>
		<key>license</key>
		<string>OS</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/SudoersSangerize</string>
		<key>installerName</key>
		<string>SudoersSangerize</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.macports.org/install.php</string>
		<key>installerName</key>
		<string>MacPortsSnowLeopard</string>
		<key>license</key>
		<string>OS</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/xdiskusageAllow</string>
		<key>installerName</key>
		<string>xdiskusageAllow</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/readlineAllow</string>
		<key>installerName</key>
		<string>readlineAllow</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/CoreutilsAllow</string>
		<key>installerName</key>
		<string>CoreutilsAllow</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/removeDigiNotar</string>
		<key>installerName</key>
		<string>removeDigiNotar</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://developer.apple.com/technology/tools.html </string>
		<key>installerName</key>
		<string>xcode4</string>
		<key>license</key>
		<string>Ships with OS X </string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/ConfigReminder</string>
		<key>installerName</key>
		<string>ConfigReminder</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/SSHConfig</string>
		<key>installerName</key>
		<string>SSHConfig</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/McAfeeAgent</string>
		<key>installerName</key>
		<string>McAfeeAgent46</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/RubyGemsUpdate</string>
		<key>installerName</key>
		<string>RubyGemsAllow</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.endnote.com/ </string>
		<key>installerName</key>
		<string>EndNoteX5</string>
		<key>license</key>
		<string>Commercial. Sanger have a site license.</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.endnote.com/ </string>
		<key>installerName</key>
		<string>EndNoteX5-CWYW</string>
		<key>license</key>
		<string>Commercial. Sanger have a site license.</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.sophos.com/support/knowledgebase/article/11846.html</string>
		<key>installerName</key>
		<string>SophosAV</string>
		<key>license</key>
		<string>Commercial. Sanger has a small number of licenses</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://osxfuse.github.com/</string>
		<key>installerName</key>
		<string>OSXFuse</string>
		<key>license</key>
		<string>OS</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.microsoft.com/mac/downloads.mspx</string>
		<key>installerName</key>
		<string>MicrosoftErrorReporting</string>
		<key>license</key>
		<string>Microsoft Free to install</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://trac.macports.org/browser/trunk/dports/archivers/zlib/Portfile</string>
		<key>installerName</key>
		<string>zlib</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.microsoft.com/mac/downloads.mspx</string>
		<key>installerName</key>
		<string>MicrosoftAutoUpdate</string>
		<key>license</key>
		<string>NULL</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/x/VIP0</string>
		<key>installerName</key>
		<string>CreateLionAdministrator</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/x/X4P0</string>
		<key>installerName</key>
		<string>CreateSnowLeopardAdministrator</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://developer.apple.com</string>
		<key>installerName</key>
		<string>xcodeCommandLineTools</string>
		<key>license</key>
		<string>Apple</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://developer.apple.com</string>
		<key>installerName</key>
		<string>xcodeMobileDevice</string>
		<key>license</key>
		<string>Apple</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://mercurial.selenic.com/downloads/</string>
		<key>installerName</key>
		<string>mercurialLion</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://mercurial.selenic.com/downloads/</string>
		<key>installerName</key>
		<string>mercurialSnowLeopard</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://munkibuilds.org/</string>
		<key>installerName</key>
		<string>munkitoolsAdmin</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://munkibuilds.org/</string>
		<key>installerName</key>
		<string>munkitoolsApp</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://munkibuilds.org/</string>
		<key>installerName</key>
		<string>munkitoolsCore</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://munkibuilds.org/</string>
		<key>installerName</key>
		<string>munkitoolsLaunchd</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://developer.apple.com</string>
		<key>installerName</key>
		<string>xcodeIDE</string>
		<key>license</key>
		<string>Apple</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://tools.google.com/dlpage/drive/index.html</string>
		<key>installerName</key>
		<string>GoogleDrive</string>
		<key>license</key>
		<string>Free to install from Google</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://www.adobe.com/products/digitaleditions/</string>
		<key>installerName</key>
		<string>AdobeDigitalEditions</string>
		<key>license</key>
		<string>Free to install from Adobe</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://github.com/MagerValp/CreateUserPkg</string>
		<key>installerName</key>
		<string>createAdministrator</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://filezilla-project.org/download.php?type=client</string>
		<key>installerName</key>
		<string>FileZilla</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://developer.apple.com</string>
		<key>installerName</key>
		<string>xcodeCommandLineToolsMountainLion</string>
		<key>license</key>
		<string>Apple</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.macports.org/install.php</string>
		<key>installerName</key>
		<string>MacPortsMountainLion</string>
		<key>license</key>
		<string>OS</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://mercurial.selenic.com/downloads/</string>
		<key>installerName</key>
		<string>mercurialMountainLion</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://www.java.com/en/download/manual.jsp</string>
		<key>installerName</key>
		<string>Java7</string>
		<key>license</key>
		<string>Free</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://support.apple.com/kb/DL1421</string>
		<key>installerName</key>
		<string>JavaForMountainLion</string>
		<key>license</key>
		<string>Apple</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.tug.org/mactex/index.html</string>
		<key>installerName</key>
		<string>MacTex</string>
		<key>license</key>
		<string>OS</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.microsoft.com/mac/downloads.mspx</string>
		<key>installerName</key>
		<string>MicrosoftOffice2008_ServicePack2</string>
		<key>license</key>
		<string>Commercial</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.endnote.com/ </string>
		<key>installerName</key>
		<string>EndNoteX6</string>
		<key>license</key>
		<string>Commercial. Sanger have a site license.</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.oracle.com/technetwork/java/javase/downloads/index.html</string>
		<key>installerName</key>
		<string>Java7JDK</string>
		<key>license</key>
		<string>OS</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>Apple</string>
		<key>installerName</key>
		<string>FirmwareTool</string>
		<key>license</key>
		<string>Apple</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.prosofteng.com/products/data_rescue.php</string>
		<key>installerName</key>
		<string>DataRescueII</string>
		<key>license</key>
		<string>Commercial</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.alsoft.com/diskwarrior/</string>
		<key>installerName</key>
		<string>DiskWarrior</string>
		<key>license</key>
		<string>Commercial</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.coriolis-systems.com/updates/iDefrag-2</string>
		<key>installerName</key>
		<string>iDefrag</string>
		<key>license</key>
		<string>Commercail</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.micromat.com/techtoolpro</string>
		<key>installerName</key>
		<string>TechTool</string>
		<key>license</key>
		<string>Commercial</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.cgsecurity.org/wiki/TestDisk</string>
		<key>installerName</key>
		<string>TestDisk</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://github.com/rowanj/gitx/downloads</string>
		<key>installerName</key>
		<string>GitX-dev</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://nodejs.org/</string>
		<key>installerName</key>
		<string>nodejs</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://gimp.lisanet.de/Website/Download.html</string>
		<key>installerName</key>
		<string>GimpMountainLion</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.graphviz.org/Download_macos.php</string>
		<key>installerName</key>
		<string>GraphvizMountainLion</string>
		<key>license</key>
		<string>Open Source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://get.adobe.com/uk/reader/</string>
		<key>installerName</key>
		<string>AdobeReader_Update3</string>
		<key>license</key>
		<string>Adobe Distribution license</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.r-project.org/ </string>
		<key>installerName</key>
		<string>R3</string>
		<key>license</key>
		<string>GNU GPL</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>https://confluence.internal.sanger.ac.uk:8443/display/IMT/Firstrun4</string>
		<key>installerName</key>
		<string>FirstRunSL</string>
		<key>license</key>
		<string>Local</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://www.macports.org/install.php</string>
		<key>installerName</key>
		<string>macports</string>
		<key>license</key>
		<string>OS</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://puppetlabs.com/misc/download-options</string>
		<key>installerName</key>
		<string>facter</string>
		<key>license</key>
		<string>Open source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://puppetlabs.com/misc/download-options</string>
		<key>installerName</key>
		<string>puppet</string>
		<key>license</key>
		<string>Open source</string>
	</dict>
	<dict>
		<key>downloadURL</key>
		<string>http://puppetlabs.com/misc/download-options</string>
		<key>installerName</key>
		<string>hiera</string>
		<key>license</key>
		<string>Open source</string>
	</dict>
	
</array>
</plist>
